.cursor-pointer {
  cursor: pointer;
}

.display-flex {
  display: flex;
  align-items: center;
}

.spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
