@mixin transition($subjects: all, $duration: 0.2s, $timing: ease-out) {
  $transition: null;

  @each $subject in $subjects {
    $transition: $transition, $subject $duration $timing;
  }

  transition: $transition;
}
